<mat-vertical-stepper [linear]="!isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Question</ng-template>
          <mat-form-field>
            <input matInput placeholder="Type Your Question" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Answers</ng-template>
          <mat-form-field class="example-full-width">
              <input matInput formControlName="secondCtrl" placeholder="Type an Answer" value="">
            </mat-form-field>
            <button mat-button color="primary">
                <mat-icon id="addbtn">add</mat-icon>
                Add Another Answer
              </button>
              <br /><br />
              <mat-checkbox>Other</mat-checkbox>
              <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Format Answers</ng-template>
      <div id="multiple-choice-answers">
      <form class="example-form margin-bottom-25">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Appears in notes as..." value="">
        </mat-form-field>
      </form>
    </div>
      <div class="hidden">
      <div id="formfields1">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Answer" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Appears in notes as..." value="">
        </mat-form-field>
      </div>
    </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

